<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    <div class="custom-footer">
      <p>Created by <strong>Yuvraj Rathod</strong> | 
        <a href="https://github.com/yuvraj-rathod-1202" target="_blank">
          GitHub Profile
        </a> | <a href="https://www.linkedin.com/in/yuvraj-rathod-5134b4317" target="_blank">
          LinkedIn Profile
        </a>
      </p>
    </div>

  </div>

</footer>
